{% extends 'base.html' %}
{% block content %}
{% if created %}
<div class="alert alert-success">
	Created code '{{ created }}'
</div>
{% elif fieldset.has_errors %}
<div class="alert alert-danger">
	The form has errors; please fix the highlighted fields
</div>
{% endif %}
<h1>Create a Course Code</h1>
<form action="{% url 'grading:create_course_code' %}" method="POST">
	<table class="bootstrap-table">
		{% csrf_token %}
		{{ formset.management_form }}
		{% for field in ccf %}
			{% if field.is_hidden %}
				{{ field }}
			{% else %}
				<div class="form-group">
					<tr>
						<td class="col-left">{{ field.label_tag }}</td>
						<td class="col-right entry {% if field.errors.0 %}entry-error{% endif %}">
							{{ field }}
							<div class="text-danger">{{field.errors.0}}</div>
						</td>
					</tr>
				</div>
			{% endif %}
		{% endfor %}
		{% for form in formset %}
			{% for field in form %}
			<div class="form-group">
				<tr>
				{% if field.is_hidden %}
					{{ field }}
				{% else %}
					<td class="col-left">{{ field.label_tag }}</td>
					<td class="col-right entry {% if field.errors.0 %}entry-error{% endif %}">
						{{ field }}
						<div class="text-danger">{{field.errors.0}}</div>
					</td>
				{% endif %}
				</tr>
			</div>
			{% endfor %}
		{% endfor %}
	</table>
	<input class="btn btn-md btn-primary" type="submit" value="Create Course Code" />
</form>
{% if created %}
<h2>
	Created code '{{ created }}'
<h2>
{% endif %}

{% endblock content %}