{% extends 'base.html' %}
{% block content %} 

<h1>Create a Course</h1>
<form id="course-form" action="{% url 'grading:course_creation' %}" method="post">
    <table class="bootstrap-table">
        {% csrf_token %}
        <div class="form-group">
            <tr>
                <td class="col-left"><label for="id_code">Code:</label></td>
                 <td class="col-right entry" id="course-code">
                    <input type="text" id="id_code" name="code" maxlength="10" />
                </td>
                <td class="col-right">
                    <span id="found-course-name"></span>
                    <div id="code-errors" class="text-danger"></div>
                </td>
            </tr>
        </div>
        {% for field in course_form %}
        <div class="form-group">
            <tr>
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <td class="col-left">{{ field.label_tag }}</td>
                <td class="col-right entry" colspan=2>
                    {{ field }}
                    <div id="{{ field.name }}-errors" class="text-danger"></div>
                </td>
            {% endif %}
            </tr>
        </div>
        {% endfor %}
    </table>
</form>
<h3>
    Course Sessions:
</h3>
<table class="bootstrap-table">
    <tbody id="session-table">
        <tr class="session-header">
            <td class="dow">M</td>
            <td class="dow">T</td>
            <td class="dow">W</td>
            <td class="dow">R</td>
            <td class="dow">F</td>
            <td class="dow">S</td>
            <td class="dow">U</td>
            <td class="start-time-header">Start Time</td>
            <td class="end-time-header">End Time</td>
            <td class="room-header">Room</td>
            <td class="sign">
                <a href="javascript:;">
                    <span id="session-add-button" class="glyphicon glyphicon-plus-sign" style="color:green;"></span>
                </a>
            </td><!--last td is for +/- icons-->
        </tr>
    </tbody>
</table>
<button class="btn btn-md btn-primary" type="button" onclick="click_button()">Create Course</button>


<h2 id="status"></h2>


{% endblock content %}
{% block extrascripts %}
<script src="/static/grading/course_creation.js"></script>
{% endblock extrascripts %}