{% extends 'base.html' %}
{% block title %}
List of Courses
{% endblock title %}
{% block content %}
    {% if header %}
    <h1>
        {{ header }}
    </h1>
    <hr />
    <input type="text" class="form-control" id="searchbox" placeholder="Enter Search Term" />
    <hr />
    {% endif %}
    <div class="table-responsive">
        <table class="table table-hover" >
            <thead>
                <tr class="course-header bg-primary">
                    <th>Code</th>
                    <th>Course Name</th>
                    <th>Section</th>
                    <th>Enrollment</th>
                    <th>Instructor</th>
                    <th>Credits</th>
                    <th>Term</th>
                    <th>Days & Times</th>
                </tr>
            </thead>
        <tbody>

           {% for course in courses %}

            <tr class="course-row" id="{{ course.id }}">
                <td>{{ course.course_code }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.section }}</td>
                <td>{{ course.get_enrollment }}/{{ course.capacity }}</td>
                <td>{{ course.get_prof }}</td>
                <td>{{ course.credits }}</td>
                <td>{{ course.term }}</td>
                <td>{{ course.get_course_times|safe }}</td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if message %}
    <h2>
        {{ message }}
    </h2>
    {% endif %}

{% endblock content %}
{% block extrascripts %}
<script src="/static/grading/course_list.js"></script>
{% endblock extrascripts %}