{% extends 'base.html' %}
{% block content %} 

<h1>Create a Course</h1>
<form id="course-form" action="{% url 'grading:course_creation' %}" method="post">
    <table class="bootstrap-table">
        {% csrf_token %}
        <div class="form-group">
            <tr>
                <td class="col-left"><label for="id_code">Code:</label></td>
                 <td class="col-right entry" id="course-code">
                    <input type="text" id="id_code" name="code" maxlength="10" />
                </td>
                <td class="col-right">
                    <span id="found-course-name"></span>
                    <div id="code-errors" class="text-danger"></div>
                </td>
            </tr>
        </div>
        {% for field in course_form %}
        <div class="form-group">
            <tr>
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <td class="col-left">{{ field.label_tag }}</td>
                <td class="col-right entry" colspan=2>
                    {{ field }}
                    <div id="{{ field.name }}-errors" class="text-danger"></div>
                </td>
            {% endif %}
            </tr>
        </div>
        {% endfor %}
        <tr><td></td><td><button class="btn btn-md btn-primary" type="button" onclick="click_button()">Create Course</button></td></tr>
    </table>
</form>



<h2 id="status"></h2>


{% endblock content %}
{% block extrascripts %}
<script src="/static/grading/course_creation.js"></script>
{% endblock extrascripts %}