{% extends 'base.html' %}
{% block content %}

<h1>My Courses</h1>
{% if enrolled_ins.count %}{% else %}
    {% if professor_of.count %}{% else %}
        <h2>You are not enrolled in or teaching any courses!</h2>
    {% endif %}
{% endif %}
{% if enrolled_ins.count %}
<hr/>
<h2>Enrolled Courses:</h2>

<div class="table-responsive">
        <table class="table table-hover" >
            <thead>
                <tr class="course-header bg-primary">
                    <th>Code</th>
                    <th>Course Name</th>
                    <th>Section</th>
                    <th>Enrollment</th>
                    <th>Instructor</th>
                    <th>Credits</th>
                    <th>Term</th>
                    <th>Days & Times</th>
                </tr>
            </thead>
        <tbody>

           {% for enrolled_in in enrolled_ins %}

            <tr class="course-row" id="{{ enrolled_in.course.id }}">
                <td>{{ enrolled_in.course.course_code }}</td>
                <td>{{ enrolled_in.course.name }}</td>
                <td>{{ enrolled_in.course.section }}</td>
                <td>{{ enrolled_in.course.get_enrollment }}/{{ enrolled_in.course.capacity }}</td>
                <td>{{ enrolled_in.course.get_prof }}</td>
                <td>{{ enrolled_in.course.credits }}</td>
                <td>{{ enrolled_in.course.term }}</td>
                <td>{{ enrolled_in.course.get_course_times|safe }}</td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endif %}
{% if professor_of.count %}
<hr/>

<h2>Teaching Courses:</h2>

<div class="table-responsive">
        <table class="table table-hover" >
            <thead>
                <tr class="course-header bg-primary">
                    <th>Code</th>
                    <th>Course Name</th>
                    <th>Section</th>
                    <th>Enrollment</th>
                    <th>Instructor</th>
                    <th>Credits</th>
                    <th>Term</th>
                    <th>Sessions</th>
                </tr>
            </thead>
        <tbody>

           {% for course in professor_of %}

            <tr class="course-row" id="{{ course.id }}">
                <td>{{ course.course_code }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.section }}</td>
                <td>{{ course.get_enrollment }}/{{ course.capacity }}</td>
                <td>{{ course.get_prof }}</td>
                <td>{{ course.credits }}</td>
                <td>{{ course.term }}</td>
                <td>{{ course.get_course_times|safe }}</td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endif %}

{% endblock content %}