{% extends 'base.html' %}
{% block content %}

<h1>My Courses</h1>
{% if enrolled_ins.count %}{% else %}
    {% if professor_of.count %}{% else %}
        <h2>You are not enrolled in or teaching any courses!</h2>
    {% endif %}
{% endif %}
{% if enrolled_ins.count %}
<hr/>
<h2>Enrolled Courses:</h2>

<div class="row course-header">
    <div class="col-md-2">Code</div>
    <div class="col-md-3">Course Name</div>
    <div class="col-md-1">Section</div>
    <div class="col-md-3">Instructor</div>
    <div class="col-md-1">Credits</div>
    <div class="col-md-2">Term</div>
</div>
{% for enrolled_in in enrolled_ins %}
<div class="row course-row" id="{{ enrolled_in.course.id }}">
    <div class="col-md-2 course-code course-col">
        {{ enrolled_in.course.course_code }}
    </div>
    <div class="col-md-3 course-name course-col"><a href="{% url 'grading:info' enrolled_in.course.id %}">
        {{ enrolled_in.course.name }}
    </a></div>
    <div class="col-md-1 course-section course-col">
        {{ enrolled_in.course.section}}
    </div>
    <div class="col-md-3 course-instructor course-col">
        {{ enrolled_in.course.get_prof }}
    </div>
    <div class="col-md-1 course-credits course-col">
        {{ enrolled_in.course.credits }}
    </div>
    <div class="col-md-2 course-term course-col">
        {{ enrolled_in.course.term }}
    </div>
</div>

{% endfor %}{% endif %}
{% if professor_of.count %}
<hr/>

<h2>Teaching Courses:</h2>

<div class="row course-header">
    <div class="col-md-2">Code</div>
    <div class="col-md-3">Course Name</div>
    <div class="col-md-1">Section</div>
    <div class="col-md-3">Instructor</div>
    <div class="col-md-1">Credits</div>
    <div class="col-md-2">Term</div>
</div>
{%  for course in professor_of %}
<div class="row course-row" id="{{ course.id }}">
    <div class="col-md-2 course-code course-col">
        {{ course.course_code }}
    </div>
    <div class="col-md-3 course-name course-col"><a href="{% url 'grading:info' course.id %}">
        {{ course.name }}
    </a></div>
    <div class="col-md-1">
        {{ course.section }}
    </div>
    <div class="col-md-3 course-instructor course-col">
        {{ course.get_prof }}
    </div>
    <div class="col-md-1 course-credits course-col">
        {{ course.credits }}
    </div>
    <div class="col-md-2 course-term course-col">
        {{ course.term }}
    </div>
</div>

{% endfor %}{% endif %}



{% endblock content %}