{% extends 'base.html' %}
{% block content %}

{% if submitted%}
    {% if error %}
    <div class="alert alert-danger">
        Some grades had errors and were not saved. Please fix these items
    </div>
    {% else %}
    <div class="alert alert-success">
        Grades saved successfully
    </div>
    {% endif %}
{% endif %}
<div class="container">

    <div class="row bg-primary">
        <div class="col-lg-3 col-md-3 col-xs-3 col-xs-12">
            <h3>Last Name</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-3 col-xs-12">
            <h3>First Name</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-3 col-xs-12">
            <h3>Username</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-3 col-xs-12">
            <h3>Grade</h3>
        </div>
    </div>

    <form action="{% url 'grading:course_grade' course.id %}" method="POST">
        {% csrf_token %}
        {% for item in grade_items %}
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-3 col-xs-12">
                {{ item.0.student.user.last_name }}
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3 col-xs-12">
                {{ item.0.student.user.first_name}}
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3 col-xs-12">
                {{ item.0.student.user.username}}
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3 col-xs-12 entry{% if item.1.grade.errors %} entry-error{%endif%}">
                {{item.1.grade}} {{item.1.grade.errors}}
            </div>
        </div>
        {% endfor %}
        <br/>
        <input class='btn btn-md btn-primary pull-right' type="submit" value="Save Grades"  />
    </form>

</div>

{% endblock content %}