{% extends 'base.html' %}
{% block title %}
Course Info {{ course.desc_string }}
{% endblock title %}
{% block content %}
{% if success %}
<div class="alert alert-success">
    You have successfully enrolled in the course
</div>
{% elif error_message %}
<div class="alert alert-danger">
    {{ error_message }}
</div>
{% endif %}
<table id="class-info-table" class="table table-striped">
    <tbody>
        <tr>
            <th colspan=4>
                <h1>{{ course.name }}</h1>
            </th>
        </tr>
        <tr>
            <td class="item-name">Course ID:</td>
            <td class="item-value">{{ course.course_code.code }}</td>
            <td class="item-name">Section:</td>
            <td class="item-value">{{ course.section }}</td>
        </tr>
        <tr>
            <td class="item-name">Professor:</td>
            <td class="item-value">{{ course.get_prof }}</td>
            <td class="item-name">Credits:</td>
            <td class="item-value">{{ course.credits }}</td>
        </tr>
        <tr>
            <td class="item-name">Enrollment:</td>
            <td class="item-value">{{ course.get_enrollment }}/{{ course.capacity }}</td>
            <td class="item-name">Term:</td>
            <td class="item-value">{{ course.term }}</td>
        </tr>
        <tr>
            <td class="item-name">Sessions:</td>
            <td class="item-value" colspan=3>{{ course.get_course_times|safe }}</td>
        </tr>
        {% if can_enroll %}
        <tr>
            <form action="{% url 'grading:info' course.id %}" method="post">
                {% csrf_token %}
                <td colspan=4>
                    {% if not is_enrolled %}
                        {% if is_in_cart %}
                        <input class="btn btn-danger" type="submit" name="cart_remove" value="Remove from Cart"/>    
                        {% else %}
                        <input class="btn btn-primary" type="submit" name="cart" value="Add to Cart"/>
                        {% endif %}
                        {% if course.is_open %}
                        <input class="btn btn-success" type="submit" name="enroll" value="Enroll"/>
                        {% else %}
                        <input class="btn btn-disabled" type="submit" name="enroll" value="Enroll" disabled/>
                        {% endif %}
                    {% else %}
                        <input class="btn btn-danger" type="submit" name="drop" value="Drop"/>
                    {% endif %}
                </td>
            </form>
        </tr>
        {% endif %}
    </tbody>
</table>

{% if is_professor and course.get_enrollment > 0 %}
<a class="btn btn-primary pull-right" href="{% url 'grading:course_grade' course.id %}">
    Enter Grades
</a>
{% elif is_professor %}
<div class="tooltip-wrapper" data-title="There are no students enrolled to grade">
<button class="btn btn-default" disabled>Enter Grades</button>
</div>
{% endif %}

{% if not can_enroll and not is_professor %}
    <p>You cannot enroll in courses!</p>
{% elif is_enrolled %}
    <p>You are enrolled in this course.</p>
{% elif is_in_cart %}
    <p>This course is on your bucket list.</p>
{% endif %}
<br/>
 {% if course.get_prereqs.count %}
    <th colspan=4>
        <h1>Prerequisites</h1>
    </th>

    <table id="prereq-table" class="table table-striped">
        <tbody>
        {% for prereq in course.get_prereqs %}
            <tr>
                <td class="item-name">Course: </td>
                <td class="item-value ">{{ prereq.course.name }}</td>
                <td class="item-name">Course ID:</td>
                <td class="item-value">{{ prereq.course.code }}</td>
                <td class="item-name">Credits:</td>
                <td class="item-value">{{ prereq.course.credits }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}


{% endblock content %}
{% block extrascripts %}
<script src="/static/grading/base.js"></script>
{% endblock extrascripts %}
