{% extends 'base.html' %}
{% block content %} 

<h1>Create a Course</h1>

<form action="{% url 'course_creation' %}" method="post">
	{% csrf_token %}
	<table class="bootstrap-table">
    	{% csrf_token %}
        {% for field in course_form %}
        <div class="form-group">
            <tr>
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <td class="col-left">{{ field.label_tag }}</td>
                <td class="col-right entry {% if field.errors.0 %}entry-error{% endif %}">
                    {{ field }}
                    <div class="text-danger">{{ field.errors.0 }}</div>
                </td>
                <td class="text-danger">{{ field.errors.0 }}</td>
            {% endif %}
            </tr>
        </div>
        {% endfor %}
    </table>
	<input class="btn btn-md btn-primary" type="submit" value="Create Course"  />

</form>

{% if success %}
<h2>Course Created!</h2>
{% endif %}
{% if failure %}
<h2>Error, Course Not Created.</h2>
{% endif %}


{% endblock content %}