{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
    <h1>
        Welcome to the Gr8ing System!
    </h1>
    {% if not request.user.is_authenticated %}
    <p>
        Log in to view your course information.
    </p>
    <p><a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a></p>
    {% else %}
    <p>
        Click the button below to view your enrolled courses
    </p>
    <a class="btn btn-primary btn-lg" href="{% url 'grading:courses_mine' %}" role="button">My Courses</a>
    {% endif %}
</div>
{% endblock content %}