{% extends 'base.html' %}
{% block content %}
{% if success %}
<div class="alert alert-success">
    Room Created
</div>
{% elif failure %}
<div class="alert alert-danger">
    There were errors with the form. Please fix the highlighted fields and submit it again
</div>
{% endif %}
<h1>
    Add a Room
</h1>
<div class="container">
    <form action="{% url 'grading:room_creation' %}" method="post">
    {% csrf_token %}
        <div class="form-group">
            {% for field in room_form %}
                {% if field.is_hidden %}
                <div class="col-md-1">{{ field }}</div>
                {% else %}
                <div class="col-md-1">{{ field.label_tag }}</div>
                <div class="col-right entry {% if field.errors.0 %}entry-error{% endif %}">
                    <div class="col-md-4">
                        {{ field }}
                        <div class="text-danger">{{ field.errors.0 }}</div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            
            <div class= "col-md-1"><input class='btn btn-md btn-primary' type="submit" value="Create Room"></div>

        </div>
    </form>
</div>
<hr />
<table class="table table-hover">
<thead><tr class="bg-primary"><th>Rooms Currently In The System</th></tr></thead>
{% for room in rooms %}
        <tr><td>{{ room.name }}</td></tr>
{% endfor %}
</table>
{% endblock content %}