{% extends 'base.html' %}
{% block content %}

<h1>Shopping Cart</h1>
{% if cart_courses.count %}
<hr />
<input type="text" class="form-control" id="searchbox" placeholder="Enter Search Term" />
<hr />
<div class="table-responsive">
        <table class="table table-hover" >
            <thead>
                <tr class="course-header bg-primary">
                    <th>Code</th>
                    <th>Course Name</th>
                    <th>Section</th>
                    <th>Enrollment</th>
                    <th>Instructor</th>
                    <th>Credits</th>
                    <th>Term</th>
                    <th>Days & Times</th>
                </tr>
            </thead>
        <tbody>

           {% for enrolled_in in cart_courses %}

            <tr class="course-row" id="{{ enrolled_in.course.id }}">
                <td>{{ enrolled_in.course.course_code }}</td>
                <td>{{ enrolled_in.course.name }}</td>
                <td>{{ enrolled_in.course.section }}</td>
                <td>{{ enrolled_in.course.get_enrollment }}/{{ enrolled_in.course.capacity }}</td>
                <td>{{ enrolled_in.course.get_prof }}</td>
                <td>{{ enrolled_in.course.credits }}</td>
                <td>{{ enrolled_in.course.term }}</td>
                <td>{{ enrolled_in.course.get_course_times|safe }}</td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

<form action="{% url 'grading:cart' %}" method="POST">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" name="check_conflicts" value="Check Conflicts Against Google Calendar">
</form>
{% else %}
<h2>Your shopping cart is empty. Add some courses to see them here!</h2>
{% endif %}



{% endblock content %}
{% block extrascripts %}
<script src="/static/grading/course_list.js"></script>
{% endblock extrascripts %}