{% extends 'base.html' %}
{% block content %}
{% if success %}
<div class="alert alert-success">
    Term created successfully
</div>
{% elif failure %}
<div class="alert alert-danger">
    There were errors with the form. Please correct the highlighted fields and submit the form again.
</div>
{% endif %}
<h1>Create a Term</h1>

<form action="{% url 'grading:term_creation' %}" method="post">
	{% csrf_token %}
	<table class="bootstrap-table">
    	{% csrf_token %}
        {% for field in term_form %}
        <div class="form-group">
            <tr>
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <td class="col-left">{{ field.label_tag }}</td>
                <td class="col-right entry {% if field.errors.0 %}entry-error{% endif %}">
                    {{ field }}
                    <div class="text-danger">{{ field.errors.0 }}</div>
                </td>
                <td class="text-danger">{{ field.errors.0 }}</td>
            {% endif %}
            </tr>
        </div>
        {% endfor %}
         <tr><td><td><input class="btn btn-md btn-primary" type="submit" value="Create Term" /></tr></td></td>
    </table>


</form>
<hr />
{% if terms.count %}
<table class="table table-hover table-responsive">
    <thead><tr class="bg-primary">
        <th>Term Name</th>
        <th>Starts</th>
        <th>Ends</th>
    </tr></thead>
{% for term in terms %}
    <tr>
        <td>{{ term }}</td>
        <td>{{ term.start }}</td>
        <td>{{ term.end }}</td>
    </tr>
{% endfor %}
</table>
{% else %}
    <h3>There Are No Terms Currently In The System, Add Some!</h3>
{% endif %}

{% endblock content %}