.login-form {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}
.bootstrap-table {
  max-width: 1024px;
  width: 100%;
}

.bootstrap-table tr td {
  padding: 5px;
}

.bootstrap-table .col-right{
  width: 80%;
}

.bootstrap-table .col-left{
  text-align: right;
}


.bootstrap-table .col-left {
  vertical-align: middle;
}

.entry textarea, .entry input, .entry select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14pt;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-group label {
    font-size: 14pt
}
.entry textarea {
  height: auto;
}

.entry textarea:focus, .entry input:focus, .entry select:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.entry-error input, .entry-error select, .entry-error textarea{
  border-color: red;
  border-width: 2px;
}


.entry input:focus, .bootstrap-table textarea {
  color: black;
}

.entry input[type="checkbox"] {
  box-shadow: none;
  width: 20px;
}

#class-info-table td {
  font-size: 14pt;
}

#class-info-table .item-name {
  font-weight: bold;
  width: 20%;
}

#class-info-table .item-value {
  width:30%;
}
.course-row:hover {
  background-color: #E5E1EA;
}
.course-row .course-col {
  font-size: 14pt;
}
.course-row .course-code {
  font-weight: bold;
}
.course-header div {
  font-size: 16pt;
  font-weight: bold;
  background-color: #F36E21;
  color: #FFFFFF;
}
#course-code {
  width: 20%;
}
.dow {
  width: 30px;
  text-align: center;
}
.sign {
  width: 20px;
  text-align: center;
  font-size: 16px;
}
.session-header td {
  font-weight: bold;
  font-size: 16px;
}
.tooltip-wrapper {
    display: inline-block;
}
